header {
  height: fit-content;
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}
/*Format profile picture image with pentagon shape */
header img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

h2 {
  font-size: 21px;
}
header .lead {
  font-size: 17px;
}
/*Class for the vertical rule separator In header between title and location
  Will be hidden on smaller media and visible for larger media screens*/
.headingSeparator {
  display: none;
}

/*Add circle border around link icons and decrease icon sizes*/
.outsideLinks {
  font-size: 12px;
  border: 2px solid white;
  border-radius: 50%;
  padding: 5px;
  color: wheat;
}

header ul {
  margin-top: 30px !important;
  padding-left: 0;
  padding-right: 10px;
}

header ul li {
  list-style: none;
  margin: 30px 15px 30px 0;
}

@media only screen and (min-width: 992px) {
  /*On larger screens format header to be full viewport height*/
  header {
    height: calc(100vh - 56px);
  }

  h2 {
    font-size: 23px;
  }

  header .lead {
    font-size: 19px;
  }
  /*Display vertical rule separator on larger media*/
  .headingSeparator {
    display: block;
  }

  /*Increase icon size and padding on inside of the circle*/
  .outsideLinks {
    font-size: 20px;
    padding: 10px;
  }
  header ul li {
    list-style: none;
    margin: 30px 30px 30px 0;
  }
}
