header {
  width: 100%;
  height: calc(100vh - 6rem);
  display: grid;
  overflow-x: hidden;
  background-image: url(../../Images/main-wallpaper.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-position-x:center;
  color: rgb(133, 114, 92);
  text-shadow: 0 1rem 1rem  rgb(136, 125, 136);

}

.headerContainer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height:inherit;
  width: 65%;
  justify-self: flex-end;
  align-items:flex-end;
  align-content: flex-end;
  justify-content:flex-end;
  text-align: end;
  padding: 0 3em 3em 0;
}

.titleRow{
display: flex;
flex-wrap: wrap;
align-items: flex-end;
justify-content: flex-end;
}

/*Class for the vertical rule separator In header between title and location
  Will be hidden on smaller media and visible for larger media screens*/
.headingSeparator {
  display: none;
}


@media only screen and (min-width: 992px) {
  /*On larger screens format header to be full viewport height*/

  /*Display vertical rule separator on larger media*/
  .headingSeparator {
    display: block;
  }
  header{
    height: 100vh;
  }


}
