section {
    scroll-margin-top: 10vh;
    padding: 25px;
    background-color: rgb(26, 56, 88);
    color: white;
    min-height: 100vh;
    overflow: visible;
}

/** Set height for content of each section 
  Needed to set the bootstrap row heigh and center content vertically **/
.contentContainer {
    min-height: 70vh;
}

/** Change background color of even sections **/
section:nth-child(even) {
    background-color: rgb(30, 64, 100);
}

h3 {
    font-weight: bolder;
    font-size: 1.8em;
    padding-left: 10px;
    margin-top: 20px;
    padding-top: 20px
}

/** Create shape to sit below each section heading **/
.shape {
    clip-path: polygon(0% 0%, 100% 0%, 75% 100%, 0% 100%);
    background-color: rgb(204, 188, 153);
    width: 30%;
    height: 20px;
    margin-bottom: 25px;
}

/** List style for all sections **/
section ul {
    list-style: none;
    padding: 0;
}

section li {
    padding: 0 0.5em 0 1em;
}

section li:before {
    color: wheat;
    content: "\2022";
    padding-right: 20px;
    font-weight: bolder;
}

/**********************************/

/** Styles for links within sections **/
section a {
    color: rgb(21, 127, 165) !important;
}

section a:hover {
    color: wheat !important;
}

section a:visited {
    color: rgb(37, 143, 126) !important;
}

/*************************************/

/** About content containter style to add dotted outside border **/
#aboutMe .contentContainer {
    border-right: dotted;
    border-bottom: dotted;
    border-color: white;
    border-width: 4px;
}

/****************************************************************/

/** Style classes used to create "cut-out" look on highlights section **/
.listInside {
    width: fit-content;
    padding: 30px;
    background-color: rgb(23, 50, 80);
    transform: translateY(-20px) translateX(40px);
}

.listOutside {
    border-right: solid;
    border-bottom: solid;
    border-color: white;
    border-width: 4px;
    width: fit-content;
    margin-top: 30px;
    background-color: white;
    padding: 0 10px 0 10px;
}

/************************************************************************/


/****Style list for each skill type****/

/*remove margin and padding on ul*/
.skillList {
    margin: 0;
    padding: 0;
}

/*Remove bullet from list items*/
.skillList li:before {
    content: none;
}

/*format border of 4 quadrant skill list to be "t" shaped*/
.skillListContainer:nth-of-type(odd) {
    border-right: 1px solid darkgrey;
}

.skillListContainer:nth-of-type(1),
.skillListContainer:nth-of-type(2) {
    border-bottom: 1px solid darkgrey;
}

/** Styles for projects sections **/

.projectCard {
    background-color: rgb(26, 56, 88);
}

#projects h4 {
    color: rgb(73, 137, 177);
    font-weight: bold;
}

/**********************************/


/*Conditionally format styles for large screens */
@media only screen and (min-width: 992px) {
    h3 {
        margin-top: 10px;
    }

    .shape {
        width: 15%;
    }

    .listOutside {
        margin-top: 30px;
    }

    .listInside {
        padding: 70px;
    }

    /*remove t shaped border*/
    .skillListContainer:nth-of-type(1),
    .skillListContainer:nth-of-type(2) {
        border-bottom: none;
    }

    /*only add border between each item*/
    .skillListContainer:not(:last-of-type) {
        border-right: 1px solid darkgrey;
    }
}