* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Oxygen", sans-serif;
  background-image: url(./Images/marble.jpg);
  background-attachment: fixed;
}



/******Style Navigation******/

/******Style Links******/
 section a {
  color: rgb(21, 127, 165) !important;
}
section a:hover {
  color: rgb(26, 62, 98) !important;
}
section a:visited {
  color: rgb(37, 143, 126) !important;
} 
/******Sections******/
h3 {
  font-weight: bolder;
  font-size: 25px;
  color: rgb(46, 97, 152);
}
section {
  scroll-margin-top: 10ex;
}

section ul {
  list-style: none;
}
section li {
  padding: 0 0.5em 0 1em;
}
section li:before {
  content: "-";
  padding-right: 5px;
}
/****Style list for each skill type****/

/*remove margin and padding on ul*/
.skillList {
  margin: 0;
  padding: 0;
}

/*Remove bullet from list items*/
.skillList li:before {
  content: none;
}

/*format border of 4 quadrant skill list to be "t" shaped*/
.skillListContainer:nth-of-type(odd) {
  border-right: 1px solid darkgrey;
}
.skillListContainer:nth-of-type(1),
.skillListContainer:nth-of-type(2) {
  border-bottom: 1px solid darkgrey;
}

#projects h4 {
  color: rgb(73, 137, 177);
  font-weight: bold;
}

/*Optional class to add background to sections and cards*/
.addBackground {
  background-color: rgba(210, 210, 210, 0.361);
}
.addBackgroundBlue {
  background-color: rgba(73, 137, 177, 0.687);
  color: white;
}
.addBackgroundLightBlue {
  background-color: #e3f2fd;
  color: rgb(151, 151, 151);
}

/*Conditionally format styles for large screens */
@media only screen and (min-width: 992px) {
  .headingSeparator {
    display: block;
  }
  /*remove t shaped border*/
  .skillListContainer:nth-of-type(1),
  .skillListContainer:nth-of-type(2) {
    border-bottom: none;
  }
  /*only add border between each item*/
  .skillListContainer:not(:last-of-type) {
    border-right: 1px solid darkgrey;
  }
}
