* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Oxygen", sans-serif;
  background-image: url(./Images/marble.jpg);
  background-attachment: fixed;
}

/*************** Sections ****************/
/******Style Links for each section******/
section {
  scroll-margin-top: 5ex;
  padding: 25px;
  background-color: rgb(26, 56, 88);

  color: white;
  min-height: 100vh;
  overflow: visible;
}

section:nth-child(even) {
  background-color: rgb(30, 64, 100);
}

h3 {
  font-weight: bolder;
  font-size: 30px;
  padding-left: 10px;
  margin-top: 5px;
}
.shape {
  clip-path: polygon(0% 0%, 100% 0%, 75% 100%, 0% 100%);
  background-color: rgb(204, 188, 153);
  width: 30%;
  height: 20px;
  margin-bottom: 25px;
}

section ul {
  list-style: none;
  padding: 0;
}

section li {
  padding: 0 0.5em 0 1em;
}

section li:before {
  color: wheat;
  content: "\2022";
  padding-right: 20px;
  font-weight: bolder;
}

.listInside{
  width: fit-content;
  padding: 30px;
  background-color: rgb(23, 50, 80);
  transform: translateY(-20px) translateX(40px);
}

.listOutside{
  border-right: solid;
  border-bottom: solid;
  border-color: white;
  border-width: 4px;
  width: fit-content;
  margin-top: 30px;
  background-color: white;
  padding: 0 10px 0 10px;
}

section a {
  color: rgb(21, 127, 165) !important;
}

section a:hover {
  color: rgb(26, 62, 98) !important;
}

section a:visited {
  color: rgb(37, 143, 126) !important;
}

.aboutContainer {
  border-right: dotted;
  border-bottom: dotted;
  border-color: white;
  border-width: 4px;
}

.projectCard{
  background-color: rgb(26, 56, 88);
  font-size: 15px;
}

/****Style list for each skill type****/

/*remove margin and padding on ul*/
.skillList {
  margin: 0;
  padding: 0;
}

/*Remove bullet from list items*/
.skillList li:before {
  content: none;
}

/*format border of 4 quadrant skill list to be "t" shaped*/
.skillListContainer:nth-of-type(odd) {
  border-right: 1px solid darkgrey;
}
.skillListContainer:nth-of-type(1),
.skillListContainer:nth-of-type(2) {
  border-bottom: 1px solid darkgrey;
}

#projects h4 {
  color: rgb(73, 137, 177);
  font-weight: bold;
}

/*Optional class to add background to sections and cards*/
.addBackground {
  background-color: rgba(210, 210, 210, 0.361);
}
.addBackgroundBlue {
  background-color: rgba(73, 137, 177, 0.687);
  color: white;
}
.addBackgroundLightBlue {
  background-color: #e3f2fd;
  color: rgb(151, 151, 151);
}

/*Conditionally format styles for large screens */
@media only screen and (min-width: 992px) {
  h3{
    margin-top: 10px;
  }
  .listOutside{
    margin-top: 30px;
  }
  .listInside{
    padding: 70px;
  }
  .shape {
    width: 15%;
  }
  /*remove t shaped border*/
  .skillListContainer:nth-of-type(1),
  .skillListContainer:nth-of-type(2) {
    border-bottom: none;
  }

  /*only add border between each item*/
  .skillListContainer:not(:last-of-type) {
    border-right: 1px solid darkgrey;
  }
}
